{
    "presets": [
        ["@babel/env", {
            "targets": {
                "node": "12"
            }
        }]
    ],
    "plugins": [
        "lodash",
        "transform-class-properties"
    ],
    "sourceMaps": true,
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}
